* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato';
    font-size: 20px;
    color: #424242;
    font-weight: 400;
    background-color: #fff;
}

a {
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
}

img {
    width: 100%;
}

.container {
    max-width: 1400px; 
    margin: auto;
    padding: 0px 15px;
}

.container-wide {
    max-width: 1536px;
    margin: auto;
    padding: 0px 15px;
}

// .....header.....

.header {
        padding: 16px 0;
        border-bottom: 1px solid #D6D6D6;

        .header-line {
            display: flex;
            align-items: center;

            .logo {
                width: 79px;
            }

            .nav {
                width: 557px;
                margin-left: 172px;
                transition: color 2s ease;

                ul {
                    display: flex;
                    justify-content: space-between;
                    list-style: none;

                    li {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        color: #292929;
                        
                        a {
                            color: #292929;

                            &:hover {
                                color:#01996D;
                            }
                        }
                    }
                }
            }

            .header-line-link {
                display: flex;
                align-items: center;
                margin-left: auto;

                a {
                    color: #000;
                }

                .btn {
                   padding: 13px 50px;
                    background: #01996D;
                    border-radius: 4px;
                    margin-left: 30px;
                    cursor: pointer;

                    a {
                        color: #fff;
                    }
                }
            }
            .burger {
                display: none;
                width: 30px;
                margin-left: 10px;

                span {
                    display: block;
                    width: 30px;
                    // height: 2px;
                    // background-color: #000;
                    border-bottom: 2px solid grey;

                    &:nth-child(2){
                        margin: 8px 0;
                    }
                }

            }
        }
    }

    .home {
        background: url(../images/bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .headline {
            padding: 175px 0 354px 0;
            width: 440px;

            h1 {
                font-family: 'Georgia', serif;
                font-weight: 700;
                font-size: 65px;
                line-height: 74px;
                color: #01996D;
            }

            p {
                width: 420px;
                line-height: 31px;
                color: #484848;
                font-size: 20px;
                margin: 30px 0 53px 0;
            }

            .btn-primary {
                width: 227px;
                background: #01996D;
                padding: 15px;
                box-sizing: border-box;
                border-radius: 4px;
                text-align: center;
                cursor: pointer;
                transition: color 2s ease;

                &:hover {
                    background:#4ed3ab;
                    a {
                      color:#01996D; 
                      transition: color 1s ease;  
                    }
                }
            }

                a {
                    color: #fff;
                    line-height: 25px;
                }
            }
        }

    // ...step...
    .step {
        padding: 150px 0 51px 0;

        .step-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 52px;

            .step-header-text {
                width: 584px;
                margin-right: 157px;

                p {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 157%;
                    margin-bottom: -3px;

                }

                h2 {
                    font-family: 'Georgia', serif;
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 157%;
                    color: #01996D; 
                }
            }

            .step-header-subtitle {
                max-width: 670px;
                padding-top: 58px;

                p {
                    font-weight: 500;
                    line-height: 150%;
                    color: #424242;
                }
            }
        }

        .cards {
            display: flex;
            justify-content: space-between;

            .cards-box {
                width: 390px;
                margin-right: 15px;


                .heading {
                    padding: 135px 0 45px 88px;
                    position: relative;
                    font-family: 'Georgia' serif;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 150%;
                    color: #000000;
                    
                }
    
                    .heading::before {
                        content: attr(data-number);
                        position: absolute;
                        left: 0;
                        top: 0;
                        font-family: 'Georgia' serif;
                        font-weight: 400;
                        font-size: 150px;
                        line-height: 150%;
                        color: rgba(1, 153, 109, 0.2);
    
                    }

                p {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 150%;
                    color: #424242;
                    margin-bottom: 60px;
                }
            }


            .cards-box:nth-child(2) {
                padding-top: 287px;
            }

            .cards-box:nth-child(3) {
                padding-top: 54px;
            }

            
        }
    }

    // ....story....

    .story {
        background: #245852;
        padding: 229px 0 176px;

        .story-row {
           
            display: flex;
            align-items:center;
            justify-content: space-between;

            .story-content {
                width: 580px;
                margin-right: 20px;

                h2 {
                    font-family:"Georgia", serif;
                    font-weight: 700;
                    font-size: 50px;
                    line-height: 157%;
                    color: #FFFFFF;
                    margin-bottom: 33px; 
                }

                p {
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 157%;
                    color: #FFFFFF;
                }

                .story-row-btn {
                   width: 240px;
                    padding: 20px;
                    background: #01996D;
                    box-sizing: border-box;
                    border-radius: 4px;
                    text-align: center;
                    margin-top: 57px;
                    cursor: pointer;
                    transition: 2s ease;

                    a {
                        font: weight 400px;
                        line-height: 25px;
                        color: #FFFFFF;
                    }

                    &:hover {
                        background: #13daa1;
                    }
                }
            }

            .story-video {
                position: relative;

                .story-video-btn {
                    width: 100px;
                    height: 100px;
                    position:absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
           
        }
    }

    // ...product...

    .product {
        padding: 164px 0 124px;

        .product-row {
            display: flex;
            justify-content: space-between;

            .product-row-wrapper {
                position: relative;
                padding-left: 60px;
                padding-bottom: 75px; 
              

                .card-wrapper {
                    width: 296px;
                    box-sizing: border-box;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: #fff;
                    box-shadow:(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
                    border-radius: 4px;

                    .card {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 22px 20px 30px;

                        .heading {
                            font-weight: 600;
                            font-size: 14.49px;
                            line-height: 157%;
                            color: #000000;
                            position: relative;
                            padding-bottom: 7px;
                            margin-bottom: 12px;

                            &::after {
                                content: "";
                                position: absolute;
                                background: #000;
                                height: 0.75px;
                                left: -7px;
                                right: -7px;
                                bottom: 0px;

                            }
                        }


                        .avatar {
                            margin-bottom: 20px;

                            .avatar-img {
                                width: 57px;
                                height: 57px;
                                object-fit: cover;
                                margin-bottom: 10px;
                            }
                                

                            p {
                                font-size: 12px;
                                line-height: 157%;
                                color: #000000;
                                text-align: center;
                            }
                        }

                        .card-content {

                            p {
                                font-family: "Georgia", serif;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 157%;
                                color: #000000;
                                text-align: center;
                                margin-bottom: 16px;
                            }

                            ul {
                                list-style-type: disc;
                                list-style-position: inside;
                                font-size: 10.6195px;
                                color: #000000;

                                li + li {
                                    
                                    margin-top: 16px;
                                }
                            }
 
                        }
                    }
                }
            }

            .product-row-text {
                // max-width: 584px;

                p {
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 157%;
                }

                h2 {
                    width: 584px;
                    font-family: "Georgia", serif;
                    font-weight: 700;
                    font-size: 51px;
                    line-height: 157%;
                    color: #01996D;
                    margin: 10px 0 20px;
                }

                .product-row-tex {
                    width: 530px;
                    font-size: 20px;
                    line-height: 31px;
                    color: #484848;
                    margin-bottom: 42px;
                }

                button {
                    width: 227px;
                    height: 65px;
                    background: #01996D;
                    box-sizing: border-box;
                    border-radius: 4px;
                    border: none;
                    cursor: pointer;

                    a {
                        color: #fff;
                      
                    }
                }
            }
        }
    }

    // ..footer..

    .footer {
        background: #245852;
        padding: 104px 0 143px;

        .footer-text  {

            .logo {
                width: 107px;
                margin-bottom: 75px;
            }

            ul {
                font-weight: 600;
                font-size: 25px;
                line-height: 30px;
                color: #FFFFFF;
                list-style: none;

                li + li {
                    margin-top: 60px;
                }
            }
        }
    }

  @media (min-width: 1199px) and (max-width: 1400px){
    
    .header {
    
            .header-line {
    
                .header-line-link {
    
                    .btn {
                       padding: 8px 45px;

                       a {
                           font-size: 18px;
                       }
                    }
                }
            }
        }

        .story {
    
            .story-row {
    
                .story-video {
                   max-width: 851px;
                }
               
            }
        }
    
        .product {
    
            .product-row {
    
                .product-row-wrapper { 

                    .product-row-img {
                        width: 600px;
                    }
                  
                    .card-wrapper {
                        width: 275px;
                    }
                }
    
                .product-row-text {
    
                    h2 {
                        width: 507px;
                    }
    
                    .product-row-text {
                        width: 441px;
                    }
                }
            }
        }
    
        .footer {
            background: #245852;
            padding: 104px 0 143px;
    
            .footer-text  {
    
                .logo {
                    width: 107px;
                    margin-bottom: 75px;
                }
    
                ul {
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 30px;
                    color: #FFFFFF;
                    list-style: none;
    
                    li + li {
                        margin-top: 60px;
                    }
                }
            }
        }
    
  }

  @media (max-width: 1200px){
    
    a {
        font-size: 17px;
        line-height: 19px;
    }
    .container {
        max-width: 1140px; 
    }
    
    .container-wide {
        max-width: 1140px;
    }
    
    
    .header {
    
            .header-line {
    
                .nav {
                    width: 500px;
                    margin-left: 110px;
                }
    
                .header-line-link {
    
                    .btn {
                       padding: 10px 38px;
                    }
                }
            }
        }
    
        .home {
            background: url(../images/bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
    
            .headline {
                padding: 100px 0 195px 0;
                width: 338px;
    
                h1 {
                    font-size: 53px;
                    line-height: 62px;
                }
    
                p {
                    width: 369px;
                    line-height: 27px;
                    font-size: 17px;
                    margin: 20px 0 35px 0;
                }
    
                .btn-primary {
                    width: 187px;
                    padding: 13px;
                }
            }
        }
        .step {
            padding: 50px 0 51px 0;
    
            .step-header {
                margin-bottom: 30px;
    
                .step-header-text {
                    width: 519px;
                    margin-right: 82px;
    
                    p {
                        font-size: 22px;
                    }
    
                    h2 {
                        font-size: 44px;
                        line-height: 148%; 
                    }
                }
    
                .step-header-subtitle {
                    max-width: 443px;
                    padding-top: 48px;
    
                    p {
                        font-size: 18px;
                        line-height: 145%;
                    }
                }
            }
    
            .cards {
    
                .cards-box {
                    width: 310px;
    
    
                    .heading {
                        font-size: 27px;
                    }
        
                        .heading::before {
                            top: 7px;
                        }
    
                    p {
                        font-size: 18px;
                        line-height: 156%;
                        margin-bottom: 40px;
                    }
                }
    
    
                .cards-box:nth-child(2) {
                    padding-top: 287px;
                }
    
                .cards-box:nth-child(3) {
                    padding-top: 54px;
                }
    
                
            }
        }
    
        .story {
            padding: 100px 0 85px;
    
            .story-row {
    
                .story-content {
                    width: 580px;
                    margin-right: 30px;
    
                    h2 {
                        line-height: 148%;
                        font-size: 44px;
                    }
    
                    p {
                        font-size: 23px;
                    }
    
                    .story-row-btn {
                       width: 187px;
                        padding: 13px;
                    }
                }
               
                .story-video {
    
                    .story-video-btn {
                        width: 75px;
                        height: 75px;
                    }
                }
            }
        }
    
        .product {
            padding: 100px 0 95px;
    
            .product-row {
    
                .product-row-wrapper {
                    padding-left: 47px;
                    padding-bottom: 49px; 

                    .product-row-img {
                        width: 460px;
                    }
                  
    
                    .card-wrapper {
                        width: 230px;
    
                        .card {
                            padding: 14px 20px 15px;

                            .card-content {
    
                                p {
                                    font-size: 15px;
                                    line-height: 95%;
                                }
     
                            }
                        }
                    }
                }
    
                .product-row-text {
                 width: 500px;
    
                    p {
                        font-size: 22px;
                    }
    
                    h2 {
                        width: 440px;
                        font-size: 44px;
                        line-height: 140%;
                    }
    
                    .product-row-text {
                        width: 435px;
                        font-size: 18px;
                        line-height: 28px;
                    }
    
                    button {
                        width: 173px;
                        height: 50px;
                        margin-top: 40px;
                    }
                }
            }
        }
    
        .footer {
            padding: 90px 0 ;
    
            .footer-text  {
    
                ul {
                    font-size: 23px;
                    line-height: 20px;
    
                    li + li {
                        margin-top: 50px;
                    }
                }
            }
        }
  }

  @media (max-width: 992px){
    
    .container {
        max-width: 960px; 
    }
    
    .container-wide {
        max-width: 960px;
    }
    
    .header {
    
        .header-line {

            .nav {
                position: fixed;
                top: 76px;
                right: -400px;
                width: 150px;
                background:#fffdfd;
                transition: 1s all linear;

                ul {
                    flex-direction: column;
                    padding: 10px;

                    li {
                        border-bottom: 1px solid grey;
                        line-height: 35px;

                    }

                }
            } 
                .nav-mob {
                    right: 0;
                }

                .burger {
                    display: block;
                }

              
            }
        }
    
        .home {
    
            .headline {
                padding: 115px 0 100px 0;
                width: 375px;
    
                p {
                    width: 386px;
                    margin: 15px 0 25px;
                }
            }
        }

        .step {
            padding: 120px 0 51px 0;
    
            .step-header {
                display: flex;
                justify-content: center;
                margin-bottom: 52px;
                flex-wrap: wrap;
    
                .step-header-text {
                    width: 492px;
                    text-align: center;
                }
    
                .step-header-subtitle {
                    padding-top: 30px;
                    max-width: 625px;
                }
            }
    
            .cards {
                display: flex;
                justify-content: space-between;
    
                .cards-box {
                    width: 280px;
                    margin-right: 10px;
    
    
                    .heading {
                        padding: 70px 0 45px 60px;
                    }
        
                        .heading::before {
                            font-size: 100px;
                            line-height: 130%;
                        }
    
                    p {
                        font-size: 16px;
                        line-height: 138%;
                        margin-bottom: 30px;
                    }
                }
        
        
                    .cards-box:nth-child(2) {
                        padding-top: 287px;
                    }
        
                    .cards-box:nth-child(3) {
                        padding-top: 54px;
                    }
        
                    
            }
        }
    
        .story {
            padding: 125px 0 130px;
    
            .story-row {
               
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
    
                .story-content {
                    width: 580px;
                    text-align: center;
    
                    h2 {
                        font-size: 46px;
                        line-height: 130%;
                        margin-bottom: 20px; 
                    }
    
                    p {
                        font-size: 21px;
                        line-height: 100%;
                    }
    
                    .story-row-btn {

                        margin: 50px auto;
                    }
                }

                .story-video {

                  #video {
                      width: 700px;
                  }
    
                    .story-video-btn {
                        width: 80px;
                        height: 80px;
                    }
                }
               
            }
        }
    
        .product {
            padding: 164px 0 124px;
    
            .product-row {
                display: flex;
                justify-content: center;
                flex-wrap: wrap; 
    
                    .product-row-text {
                            width: 500px;
                            margin-top: 90px;
                            text-align: center;
        
                        p {
                            font-size: 24px;
                        }
        
                        h2 {
                            width: 532px;
                            font-size: 51px;
                            line-height: 130%;
                        }
        
                        .product-row-tex {
                            font-size: 18px;
                            line-height: 29px;
                            margin-bottom: 20px;
                        }
                    }
            }
        }
    
        .footer {
            padding: 80px 0;
    
            .footer-text  {
    
                ul {
                    font-size: 22px;
                    line-height: 22px;
    
                    li {
                        margin-top: 40px;
                    }
                }
            }
        }
  }

  @media (max-width: 768px){
    
    a {
        font-size: 14px;
    }
    
    .container {
        max-width: 720px; 
    }
    
    .container-wide {
        max-width: 720px;
    }
    
    .header {
            padding: 12px 0;
    
            .header-line {
    
                .logo {
                    width: 70px;
                }
    
                .header-line-link {
    
                    .btn {
                       padding:0px 15px;
    
                        a {
                            font-size: 10px;
                        }
                    }
                }

                .burger {
                    width: 23px;
                }
            }
        }
    
        .home {
    
            .headline {
                padding: 49px 0 60px;
                width: 321px;
    
                h1 {
                    font-size: 46px;
                    line-height: 50px;
                }
    
                p {
                    width: 308px;
                    line-height: 21px;
                    font-size: 14px;
                    margin: 20px 0 18px;
                }
    
                .btn-primary {
                    width: 142px;
                    padding: 4px;
                }
            }
        }
    
        .step {
            padding: 80px 0 51px 0;
    
            .step-header {
                justify-content: space-between;
                margin-bottom: 52px;
    
                .step-header-text {
                    width: 415px;
                    margin: auto;
    
                    p {
                        font-size: 22px;
                        line-height: 150%;
                    }
    
                    h2 {
                        font-size: 40px;
                        line-height: 125%;
                    }
                }
    
                .step-header-subtitle {
                    max-width: 670px;
                    padding-top: 20px;
                    margin: auto;
    
                    p {
                        font-size: 16px;
                        line-height: 140%;
                        text-align: center;
                    }
                }
            }
    
            .cards {
                display: flex;
                justify-content: space-between;
    
                .cards-box {
                    width: 160px;
    
    
                    .heading {
                        padding: 49px 0 25px 45px;
                        font-size: 23px;
                        line-height: 110%;
                        
                    }
        
                        .heading::before {
                            font-size: 75px;
                            line-height: 90%;
        
                        }
    
                    p {
                        font-size: 13px;
                        line-height: 140%;
                        margin-bottom: 30px;
                    }
                }
    
    
                .cards-box:nth-child(2) {
                    padding-top: 90px;
                }
    
                .cards-box:nth-child(3) {
                    padding-top: 15px;
                }
    
                
            }
        }
    
        .story {
            padding: 100px 0 110px;
    
            .story-row {
                justify-content: center;
    
                .story-content {
                    width: 470px;
    
                    h2 {
                        font-size: 40px;
                        line-height: 130%;
                        margin-bottom: 12px; 
                    }
    
                    p {
                        font-size: 19px;
                        line-height: 125%;
                    }
    
                    .story-row-btn {
                       width: 200px;
                        padding: 12px;
                    }
                }
                .story-video {
                    
                    #video {
                        width: 520px;
                    }
      
                      .story-video-btn {
                          width: 50px;
                          height: 50px;
                      }
                  }
               
            }
        }
    
        .product {
            padding: 100px 0 124px;
    
            .product-row {
                justify-content: center;
    
                .product-row-wrapper {
                  
    
                    .card-wrapper {
                        width: 235px;
    
                        .card {
                            padding: 9px 9px 30px;
    
                            .card-content {
    
                                p {
                                    font-size: 15px;
                                    line-height: 100%;
                                    margin-bottom: 13px;
                                }
    
                                ul {
    
                                    li + li {
                                        margin-top: 10px;
                                    }
                                }
     
                            }
                        }
                    }
                }
    
                .product-row-text {
                    // max-width: 584px;
    
                    p {
                        font-size: 22px;
                        line-height: 100%;
                    }
    
                    h2 {
                        width: 450px;
                        font-size: 40px;
                        line-height: 130%;
                        margin: 10px auto 15px;
                    }
    
                    .product-row-tex {
                        font-size: 16px;
                        line-height: 25px;
                    }
    
                    button {
                        width: 170px;
                        height: 45px;
                        margin-top: 20px;
                    }
                }
            }
        }
    
        .footer {
            padding: 60px 0 120px;
    
            .footer-text  {
    
                .logo {
                    width: 95px;
                    margin-bottom: 40px;
                }
    
                ul {
                    font-size: 20px;
                    line-height: 20px;
    
                    li + li {
                        margin-top: 40px;
                    }
                }
            }
        } 
  }

  @media (max-width: 576px){

    .container {
        max-width: 540px; 
    }
    
    .container-wide {
        max-width: 540px;
    }
    
    a {
        font-size: 10px;
    }
    
    .header {
            padding: 9px 0;
    
            .header-line {
    
                .logo {
                    width: 60px;
                }
    
                .header-line-link {
    
                    .btn {
                       padding: 3px 12px;
    
                        a {
                           font-size: 10px;
                        }
                    }
                }
            }
        }
    
        .home {
    
            .headline {
                padding: 35px 0 40px;
                width: 210px;
    
                h1 {
                    font-size: 32px;
                    line-height: 37px;
                }
    
                p {
                    width: 198px;
                    line-height: 18px;
                    font-size: 13px;
                    margin: 13px 0 10px;
                }
    
                .btn-primary {
                    width: 90px;
                    padding: 0px;
                }
            }
        }
    
        .step {
            padding: 35px 0 20px;
    
            .step-header {
                margin-bottom: 52px;
    
                .step-header-text {
                    width: 375px;
    
                    p {
                        font-size: 18px;
                        line-height: 95%;
                    }
    
                    h2 {
                        font-size: 28px;
                        line-height: 120%; 
                    }
                }
    
                .step-header-subtitle {
                    padding-top: 15px;
    
                    p {
                        font-size: 12px;
                        line-height: 150%;
                    }
                }
            }
    
            .cards {
                flex-wrap: wrap;
                justify-content: center;
    
                .cards-box {
                    margin-right: 25px;
                }
    
                
            }
        }
    
        .story {
            padding: 70px 0 65px;
    
            .story-row {
    
                .story-content {
                    width: 380px;
                    margin: auto;
    
                    h2 {
                        font-size: 30px;
                        line-height: 110%;
                        margin-bottom: 15px; 
                    }
    
                    p {
                        font-size: 15px;
                        line-height: 120%;
                    }
    
                    .story-row-btn {
                       width: 100px;
                        padding: 5px;
                        margin: 20px auto;
                    }
                }
    
                .story-video {

                    #video {
                        width: 380px;
                    }
                    .story-video-btn {
                        width: 36px;
                        height: 36px;
                    }
                }
               
            }
        }
    
        .product {
            padding: 60px 0 50px;
    
            .product-row {
    
                .product-row-wrapper {
                    padding-left: 25px;
                    padding-bottom: 20px; 
                  
                    .product-row-img {
                        width: 355px;
                    }
    
                    .card-wrapper {
                        width: 160px;
    
                        .card {
                            padding: 10px 6px 10px;
    
                            .heading {
                                font-size: 11px;
                                margin-bottom: 8px;
                            }
    
    
                            .avatar {
                                margin-bottom: 10px;
    
                                .avatar-img {
                                    width: 45px;
                                    height: 45px;
                                    margin-bottom: 4px;
                                }
                                    
    
                                p {
                                    font-size: 10px;
                                    line-height: 110%;
                                }
                            }
    
                            .card-content {
    
                                p {
                                    font-size: 10px;
                                    line-height: 75%;
                                    margin-bottom: 7px;
                                }
    
                                ul {
                                    font-size: 9px;
    
                                    li + li {
                                        margin-top: 6px;
                                    }
                                }
     
                            }
                        }
                    }
                }
    
                .product-row-text {
                    width: 382px;
                    margin-top: 21px;
    
                    p {
                        font-size: 18px;
                        line-height: 100%;
                    }
    
                    h2 {
                        width: 382px;
                        font-size: 27px;
                        line-height: 113%;
                    }
    
                    .product-row-tex {
                        width: 382px;
                        font-size: 12px;
                        line-height: 18px;
                    }
    
                    button {
                        width: 110px;
                        height: 35px;
                        margin-top: 6px;
                    }
                }
            }
        }
    
        .footer {
            padding: 29px 0 20px;
    
            .footer-text  {
    
                .logo {
                    width: 57px;
                    margin-bottom: 10px;
                }
    
                ul {
    
                    li + li {
                        margin-top: 24px;
                    }
                }
            }
        }
  }

  @media (max-width: 425px){
    a {
        font-size: 12px;
        line-height: 10px;
    }
    
    .container {
        max-width: 400px; 
    }
    
    .container-wide {
        max-width: 400px;
    }
    
    .header {
            padding: 7px 0;
    
            .header-line {
    
                .logo {
                    width: 55px;
                }
    
                .header-line-link {
    
                    .btn {
                       padding: 1px 12px;
                       display: none;
                    }
                }
               
            }
            .burger {
                width: 10px;
            }
        }
    
        .home {
    
            .headline {
                padding: 38px 0 30px 0;
                width: 144px;
    
                h1 {
                    font-size: 20px;
                    line-height: 29px;
                }
    
                p {
                    width: 125px;
                    line-height: 15px;
                    font-size: 10px;
                    margin: 8px 0 7px 0;
                }
    
                .btn-primary {
                    width: 75px;
                    padding: 1px;
                }
    
                    a {
                        font-size: 9px;
                    }
                }
         }

        .step {
            padding: 45px 0 51px 0;
    
            .step-header {
                justify-content: space-between;
                margin-bottom: 52px;
    
                .step-header-text {
                    width: 250px;
                    margin: auto;
    
                    p {
                        font-size: 12px;
                        line-height: 115%;
                    }
    
                    h2 {
                        font-size: 18px;
                        line-height: 127%; 
                    }
                }
    
                .step-header-subtitle {
                    max-width: 340px;
                    padding-top: 12px;
    
                    p {
                        font-size: 10px;
                        line-height: 15px;
                    }
                }
            }
    
            .cards {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
    
                .cards-box {
                    width: 150px;
                    margin-right: 9px;
    
                    .heading {
                        padding: 32px 0 15px 32px;
                        font-size: 15px;
                        line-height: 97%;
                        
                    }
        
                        .heading::before {
                            font-size: 55px;
                            line-height: 80%;
        
                        }
    
                    p {
                        font-size: 10px;
                        line-height: 130%;
                        margin-bottom: 10px;
                    }

                    .cards-box-img {
                        width: 145px;
                    }
                       
                    
                }
    
    
                .cards-box:nth-child(2) {
                    padding-top: 26px;
                }
    
                .cards-box:nth-child(3) {
                    padding-top: 26px;
                }
    
                
            }
        }
    
        .story {
            padding: 25px 0 60px;
    
            .story-row {
               
                display: flex;
                align-items:center;
                justify-content: space-between;
    
                .story-content {
                    width: 270px;
                    margin: auto;
    
                    h2 {
                        font-size: 23px;
                        line-height: 130%;
                        margin-bottom: 10px; 
                    }
    
                    p {
                        font-size: 12px;
                        line-height: 100%;
                    }
    
                    .story-row-btn {
                       width: 86px;
                        padding: 0px;
                        margin-top: 11px;
    
                        a {
                            font-size: 10px;
                        }
                    }
                }
    
                .story-video {
                    #video {
                        width: 330px;
                    }

                    .story-video-btn {
                        width: 45px;
                        height: 45px;
                    }
                }
               
            }
        }
    
        .product {
            padding: 40px 0 30px;
    
            .product-row {
    
                .product-row-wrapper {
                    padding-left: 22px;
                    padding-bottom: 25px; 
                  
                    .product-row-img {
                        width: 325px;
                    }
    
                    .card-wrapper {
                        width: 140px;
    
                        .card {
                            padding: 7px 3px 7px;
    
                            .heading {
                                font-size: 11px;
                                line-height: 115%;
                            }
    
    
                            .avatar {
                                margin-bottom: 10px;
    
                                .avatar-img {
                                    width: 50px;
                                    height: 50px;
                                    margin-bottom: 5px;
                                }
                                    
    
                                p {
                                    font-size: 10px;
                                    line-height: 120%;
                                }
                            }
    
                            .card-content {
    
                                p {
                                    font-size: 10px;
                                    line-height: 110%;
                                    margin-bottom: 6px;
                                }
    
                                ul {
                                    font-size: 8px;
    
                                    li + li {
                                        margin-top: 5px;
                                    }
                                }
     
                            }
                        }
                    }
                }
    
                .product-row-text {
                    width: 350px;
    
                    p {
                        font-size: 16px;
                        line-height: 120%;
                    }
    
                    h2 {
                        width: 350px;
                        font-size: 25px;
                        line-height: 125%;
                        margin: 10px 0 10px;
                    }
    
                    .product-row-tex {
                        width: 350px;
                        font-size: 12px;
                        line-height: 16px;
                        margin-bottom: 0px;
                    }
    
                    button {
                        width: 105px;
                        height: 33px;
                        margin-top: 15px;
                    }
                }
            }
        }
    
    
        .footer {
            padding: 35px 0 30px;
    
            .footer-text  {
    
                .logo {
                    width: 60px;
                    margin-bottom: 15px;
                }
    
                ul {
                    font-size: 13px;
                    line-height: 1px;
    
                    li + li {
                        margin-top: 20px;
                    }
                }
            }
        } 
  }

  @media (max-width: 375px){
    .container {
        max-width: 300px; 
    }
    
    .container-wide {
        max-width: 320px;
    }

    .header {
        padding: 8px 0;

        .header-line {

            .logo {
                width: 58px;
            }

            .nav {
                width: 80px;
                top: 41px;

                ul {
                    padding: 8px;

                    li {
                        line-height: 25px;
                    }
                }
            }

            .header-line-link {

                .btn {
                   padding: 0px 9px;
                   margin-left: 15px;
                }
            }
            .burger {
                display: block;
                width: 25px;
                margin-left: 12px;

                span {
                    width: 25px;
                }
            }
        }
    }

    .home {

        .headline {
            padding: 15px 0 20px;
            width: 160px;

            h1 {
                font-size: 20px;
                line-height: 25px;
            }

            p {
                width: 160px;
                line-height: 17px;
                font-size: 10px;
                margin: 5px 0 10px 0;
            }

            .btn-primary {
                width: 85px;
                padding: 0px;
            }
        }
    }

    // ...step...
    .step {
        padding: 20px 0 51px 0;

        .step-header {
            margin-bottom: 15px;

            .step-header-text {
                width: 200px;
                margin: auto;

                p {
                    font-size: 15px;
                    line-height: 100%;
                }

                h2 {
                    font-size: 20px;
                    line-height: 130%; 
                }
            }

            .step-header-subtitle {
                max-width: 300px;
                padding-top: 15px;

            }
        }

        .cards {
            justify-content: center;

            .cards-box {
                width: 170px;
                margin-right: 0px;


                .heading {
                    padding: 28px 0 10px 28px; 
                    font-size: 19px;
                    line-height: 110%;
                    
                }
    
                    .heading::before {
                        font-size: 50px;
                        line-height: 90%;
    
                    }

                p {
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 150%;
                    color: #424242;
                    margin-bottom: 17px;
                }

                .cards-box-img {
                    width: 170px;
                }
            }


            .cards-box:nth-child(2) {
                padding-top: 10px;
            }

            .cards-box:nth-child(3) {
                padding-top: 10px;
            }

            
        }
    }

    // ....story....

    .story {
        padding: 20px 0 40px;

        .story-row {
            justify-content: center;

            .story-content {
                width: 235px;
                margin-right: 20px;

                h2 {
                    font-size: 22px;
                    line-height: 130%;
                    margin-bottom: 10px; 
                }

                p {
                    font-size: 10px;
                    line-height: 106%;
                }

                .story-row-btn {
                   width: 79px;
                    padding: 0px;
                    margin-top: 16px;

                    a {
                        line-height: 20px;
                    }
                }
            }

            .story-video {
                #video {
                    width: 280px;
                }

                .story-video-btn {
                    width: 30px;
                    height: 30px;
                }
            }
           
        }
    }

    // ...product...

    .product {
        padding: 30px 0 30px;

        .product-row {
            justify-content: center;

            .product-row-wrapper {
                padding-left: 15px;
                padding-bottom: 18px; 
              
                .product-row-img {
                    width: 265px;
                }

                .card-wrapper {
                    width: 130px;

                    .card {
                        padding: 5px 5px 10px;

                        .heading {
                            font-size: 10px;
                            line-height: 130%;
                            padding-bottom: 5px;
                            margin-bottom: 5px;
                        }


                        .avatar {
                            margin-bottom: 5px;

                            .avatar-img {
                                width: 45px;
                                height: 45px;
                                margin-bottom: 5px;
                            }
                                

                            p {
                                font-size: 10px;
                                line-height: 110%;
                            }
                        }

                        .card-content {

                            p {
                                font-size: 11px;
                                line-height: 100%;
                                margin-bottom: 8px;
                            }

                            ul {
                                font-size: 8px;

                                li + li {
                                    
                                    margin-top: 8px;
                                }
                            }
 
                        }
                    }
                }
            }

            .product-row-text {
               width: 265px;

                p {
                    font-size: 17px;
                    line-height: 100%;
                }

                h2 {
                    width: 265px;
                    font-size: 20px;
                    line-height: 113%;
                    margin: 6px 0 7px;
                }

                .product-row-tex {
                    width: 265px;
                    font-size: 11px;
                    line-height: 15px;
                    margin-bottom: 0px;
                }

                button {
                    width: 100px;
                    height: 26px;
                    line-height: 5px;

                    a {
                      font-size: 10px;
                      
                    }
                }
            }
        }
    }

    // ..footer..

    .footer {
        padding: 20px 0 15px;

        .footer-text  {

            .logo {
                width: 60px;
                margin-bottom: 0px;
            }

            ul {
                font-size: 15px;
                line-height: 0px;

                li + li {
                    margin-top: 26px;
                }
            }
        }
    }
  }


 